{% extends 'preLogin/common.html' %}

{% block content %}
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning me-3 ms-3">
        {{ message }}
    </div>
{% endfor %}
<form method="post" action="/registration_verification">
    <div class="d-inline-flex p-5">
        <input class="form-control text-center me-3" type="text" id="username" name="username" placeholder="Enter Username" required>
        <input class="form-control text-center me-3" type="email" id="email" name="email" placeholder="Enter Email-Id" required>
        <input class="form-control text-center me-3" type="tel" id="contact" name="contact" pattern="[0-9]{10}" placeholder="Enter 10-digit Contact Number" required>
        <input class="form-control text-center me-3" type="password" id="password1" name="password1" placeholder="Enter Password" required>
        <input class="form-control text-center me-3" type="password" id="password2" name="password2" placeholder="Re-enter Password" required>
        <input class="btn btn-primary w-50" type="submit" value="Sign-up">
    </div>
</form> 

{% endblock %}